
@charset "utf-8";
/* CSS Document */
*
{
    padding: 0;
    margin: 0;
}
.DivClear
{
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
}
.DivClearNone
{
    clear: both;
    padding-top: 0px;
    padding-bottom: 0px;
}
html, body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.Layout_container
{
    width: 995px;
    min-height: 100%;
    height: 100%;
    margin: 0 auto -147px;
    background-color: #D7FFF5;    
    background-image: url(images/pa2.jpg);
}

.Layout_Banner {
    
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn giữa các items theo chiều dọc */
    justify-content: left;
    /*justify-content: space-between; /* Phân bổ khoảng trống đều giữa logo và tiêu đề */
    width: 100%;
    height: 121px; /* Bạn có thể điều chỉnh chiều cao nếu cần */
    margin: 0;
    background-image: url("images/lon.jpg");
}
.Layout_Banner::before {
    content: ''; /* Cần có content để hiển thị pseudo-element */
    position: absolute; /* Vị trí tuyệt đối so với Layout_Banner */
    top: 0; /* Đặt đỉnh của pseudo-element với đỉnh của Layout_Banner */
    right: 0; /* Đặt cạnh phải của pseudo-element với cạnh phải của Layout_Banner */
    bottom: 0; /* Đặt đáy của pseudo-element với đáy của Layout_Banner */
    left: 0; /* Đặt cạnh trái của pseudo-element với cạnh trái của Layout_Banner */
    background-image: url("images/background.webp");
    background-size: cover; /* Đảm bảo rằng background phủ kín */
    filter: blur(8px); /* Làm mờ background với độ lớn tùy chỉnh */
    z-index: -1; /* Đặt pseudo-element ở dưới nội dung khác */
  }
.Header_Title
{

    flex-grow: 1; /* Cho phép header title chiếm đủ không gian còn lại */
    text-align: center; /* Đảm bảo văn bản được căn giữa trong phần tử của mình */
    font-size: 30px; /* Thêm đơn vị vào font-size */
    font-weight: lighter;
    color: #0c2a6d;
}
.Layout_MainContents
{
    width:100%;
    height: 25%;
    display: grid;
    grid-template-columns: 3fr auto;
    background-image: url("images/pa2.jpg");
}
.Layout_Push, .Layout_Footer
{
    height: 100%;
    width: 100%;
    /* width: 995px; */
    margin: 0 0;
}

/*------------------------------*/
A {
COLOR: #565656;TEXT-DECORATION: none
}
A:active {
COLOR: #565656;TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A:visited {
	
}

.TopControl{
    float:right;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    text-align: right;
}
.Textbox{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #e4ebea;
}
.LoginText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.5pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c2a6d;    
}
.TopControlText{
    font-size: 10pt;
    color: #000;
    letter-spacing: 0.05em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 8px;
    margin-bottom: 10px;
}


.PersonalAddress{
    height:237px;
    width: 100%;
    background-color: #D7FFF5;    
}

.Personal_HinhcanhanKhung {
    width: 100%; /* Đặt chiều rộng tối đa cho khung chứa ảnh */
    display: flex; /* Sử dụng flex để căn chỉnh ảnh */
    justify-content: center; /* Căn giữa ảnh theo chiều ngang */
    align-items: center; /* Căn giữa ảnh/ theo chiều dọc */
}

.Personal_Hinhcanhan {
    width: 100%; /* Đặt chiều rộng tối đa cho ảnh */
    height: 100%; /* Tự động điều chỉnh chiều cao để giữ tỉ lệ */
    object-fit: cover; /* Bảo đảm ảnh phủ kín khung mà không bị méo */
}
.Personal_Location
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 626px;
    height: auto; /*237-44*/
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #403b33;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
}

.Name_Logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Personal_Main_Information
{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.Personal_FullName
{
    font-size: 20pt;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: 80%;
}
    
.Personal_Department 
{
    font-style: italic;
    font-size: 20pt;
    font-weight: light;
}
/* .Personal_HinhcanhanKhung{
    display: flex;
    height: 237px;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    float:right;
} */

.Personal_Position
{
    font-size: 12pt;
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    letter-spacing: 0.0em;
}
.Personal_Phone
{
    font-size: 10pt;
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    letter-spacing: 0.0em;
}
.Personal_Website{
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #565656;    
}
/*------------------------------*/
.MainContain{
    clear:both;
    width: 100%;
    width: 995px;
    /* background-image: url(images/paper.avif); */
}
.MainContain_Top{
    width:100%;
    padding-left: 75px;
    padding-bottom: 20px;
}

.MainContain_RightTop{
    float:right;
    width:368px;
    height:200px;
}
.MainContain_ButtonSpace{
    clear:both;
    height:45px;
    width:100%;
    text-align: left;
    vertical-align: middle;
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;    
}
.Button_Toolbar{
    float:left;
    width:35px;
    height:36px;
}
.Button_Title{
    float:left;
    text-align:left;
    vertical-align:middle;
    padding-top: 10px;
    padding-left: 5px;
}

.Infor_Container
{
    width:auto;
    height:auto;
    display: grid;

}

.MainContain_LeftTop{
    float:left;
    padding-left: 80px;    
    width:520px;
}
.MainContain_Center{
    clear:both;
    padding-left: 80px;    
}

.InfoGroup{
    text-transform: uppercase;
    color: #d7783c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.InfoSubGroup{
    color: #558ED5;
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}

.TextInList{
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #000000;
}
.Description
{
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #000000;
}
li{
    margin-bottom: 5px;    
}

ol li{
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #565656;
    font-weight: bold;
}

.Paper{
    font-family: JetBrains Mono,Arial, Helvetica, sans-serif;
    color: #565656;
    font-size: 11px;
    margin-bottom: 10px;
}
.PaperName{
    font-weight: bold;
}
.PaperAuthors{
    
}
.PaperOthers{
}

/*-----------copy right---------------*/
.divCopyright{
    height:147px;
    font-size:11px;
    color: #8c8c8c;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 20px;
    /* background-image: url("images/paper.avif"); */
    /* letter-spacing: 0.1em; */
}


a.link:active, a.link:visited, a.link:link
{
    text-decoration: none;
}
a.link:hover
{
    text-decoration: none;
    color: #FF6600;
}

a.linkIcon:active, a.linkIcon:visited, a.linkIcon:link
{
    text-decoration: none;
    color: #000;    
}
a.linkIcon:hover
{
    text-decoration: none;
    color: #FF6600;
} 